.date {
  text-align: center;
}

h3 {
  margin-top: 2rem;
}

label {
  line-height: 2;
}

input[disabled] {
  margin-left: 2rem;
}

.container {
  width: 500px;
  padding: 2rem;
}

label[for="w3review"] {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

textarea {
  padding: 5px;
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
  padding: 5px 12px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1;
  margin-top: 2rem;
}

@media (max-width: 600px) {

  .container {
  width: 90%;
  }

}