* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------
          HEADER
--------------------------*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
  margin-bottom: 8rem;
}

.logo-placeholder {
  width: 100px;
  height: 100px;
  background: gainsboro;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 4vw;
}

.fas {
  font-size: 2rem;
  padding: 34px;
  color: gray;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

.header-container ul {
  list-style: none;
  text-align: center;
  line-height: 2;
  border: solid gray;
  padding: 1rem 2rem;
}

/*--------------------------
        MAIN/SIGN-UP
--------------------------*/

.main-container {
  width: 600px;
  margin: 0 auto;
  padding: 2rem;
  max-width: 100%;
}

.sign-up-main {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border: solid gray;
  padding: 2rem;
}

.sign-up-main a {
  color: gray;
}

.sign-up-main p {
  margin-bottom: 1rem;
}

.sign-up-container label,
.sign-up-container input,
.sign-up-container button {
  display: block;
  margin: 0 auto;
}

.sign-up-container input {
  margin-bottom: 1rem;
}

/*--------------------------
          FOOTER
--------------------------*/

footer {
  padding: 4rem;
  text-align: center;
}

/*--------------------------
       MEDIA QUERIES
--------------------------*/

@media (max-width: 600px) {
  nav {
    top: 160px;
    width: 100%;
  }

  .header-container {
    margin-bottom: 20rem;
  }
}