*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

figure {
    margin: 0;
}
ul, 
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
a {
  color: rgb(33, 32, 32);
  text-decoration: none;
}
img {
 width: 100%;
}
.container {
    width: 90%;
    margin: 50px 0;
  }
  header {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}