@import 'base';

header{
  display:flex;
  justify-content: space-between;
  

   .container {
     margin: 0;
     display:flex;
     justify-content: center;
     align-items: center;
     flex-flow:row wrap;
   }
  
  nav {
      ul{
        list-style: none;
    }

    li {
        padding: 5px;
    }

  }
}
main {
  display: flex;
  justify-content: center;
}
.hero {
  h2{
    margin-bottom: 1em;
  }
}
.about{
  h3{
    margin-top: 12px;
  }
}
footer{
  p{
    text-align: center;
    background-color: rgb(167, 158, 158);
  }
}
@import 'loginpg';
@import 'mediaqueries';